@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #21252a;
  color: #fafafa;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-shake {
  animation: shake 0.6s ease-in-out;
}

